* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}


body {
    background-color: #101828;
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.sub_title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.sub_title.serving{
    display: inline;
}

ul, ol {
    padding: 20px;
    margin: 15px;
    background-color: #192437;
}

ol ol {
    padding: 10px;
    margin: 5px;
}

li {
    padding: 5px;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 10px;
    margin: 5px;
}

p {
    padding: 10px;
}

.home {
    text-align: center;
}